{% extends "base.html" %}
{% block title %} about us {% endblock title %}
{% load static %}
{% block body %}
<div class="d-flex justify-content-center align-items-center" style="min-height: 100vh; 
            background-image: url('./static/front1.jpg'); 
            background-size: cover; 
            background-position: center; 
            background-repeat: no-repeat;">

    <h1 style="
            position: absolute;
            top: 140px;
            right: 65px;
            color: black;
            font-weight: bold;
            "> Welcome to our About us</h1>
    <p style="position: absolute; top: 200px; left: 700px; color: black; font-size: larger;">Welcome to our website,
        where
        every scoop tells a story! ❤
        We believe ice cream isn’t just a dessert — it’s happiness in every bite. From creamy classics to unique
        flavors, we
        make each batch with love, freshness, and a little magic. ✨

        Our goal is to bring a smile to your face with every scoop you enjoy. Whether you’re craving something sweet,
        refreshing, or adventurous, we’ve got the perfect flavor waiting just for you!
        We offer a wide range of flavors — from classic vanilla and chocolate fudge to fruity sorbets and unique
        seasonal
        specials. Whether you’re young or young at heart, we’ve got the perfect treat waiting just for you!

        Come, taste the happiness today! 😋🍨 </p>
    <div class="container mt-5" style="max-width: 400px;"></div>
</div>
{% endblock body %}
